{% extends 'layout.html.twig' %}

{% block form %}
    <div class="container">
        {{ form.legend('Rédiger un article') }}
            {{ form.start('', 'post') }}
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            {{ form.inputType('Titre ', 'text', 'title', 'form-control') }}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            {{ form.inputType('Chapô ', 'text', 'intro', 'form-control') }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            {{ form.inputType('Auteur ', 'text', 'author', 'form-control') }}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            {{ form.textArea('Article ', 'content', 'form-control') }}
                        </div>
                    </div>
                </div>
                {{ form.submit('btn btn-primary') }}
            {{ form.end }}
        <hr />
    </div>
{% endblock %}
